!!!

%html
  %head 
    %title Αποτελέσματα Εξετάσεων
    %link{:rel =>'stylesheet', :type=>'text/css', :href=>'reports/style.css'}
  %body
    #report_title
      %h1
        %img{:class => 'logo', :src => 'resources/medical-symbol.jpg'}
        %h2 Μικροβιολογικό Ιατρείο 
        %h3 Αποτελέσματα Εξετάσεων
    %hr
    #patient_data
      %table.patient_data
        %tr.odd
          %td.title Ονοματεπώνυμο:
          %td.data= exam_set.patient.full_name
        %tr.even
          %td.title Ηλικία:
          %td.data= exam_set.patient.age
        %tr.odd
          %td.title Ημερ. Εξέτασης
          %td.data= exam_set.date
        %tr.even
          %td.title Ονοματεπώνυμο Ιατρού:
          %td.data= exam_set.doctor.full_name
    %br
    #exam_set_data
      = render_group(ExamFieldGroup.root)
  
